@charset "utf-8";
/* CSS layout */

/* 默认样式 */
html {
  overflow-y: scroll;
  overflow-x: hidden;
}
body,
div,
ul,
li,
span,
img,
input,
form {
  margin: 0;
  padding: 0;
}
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dd {
  margin: 0;
}
ul,
ol {
  padding: 0;
}

body {
  font-size: 12px;
  font-family: 'Cascadia Code', '冬青黑体简体中文', '宋体', Arial, sans-serif;
}
a {
  text-decoration: none;
  color: #666666;
}
li {
  list-style: none;
}
img {
  border: none 0;
}
input {
  outline: none;
  border: none;
  background: none;
}
input,
textarea,
select {
  margin: 0;
}
input,
textarea {
  padding: 0;
}
input::-ms-clear {
  display: none;
}

/* 浮动公共样式 */
.left {
  float: left;
  _display: inline;
}
.right {
  float: right;
  _display: inline;
}
.clear:after {
  display: block;
  content: '';
  clear: both;
}
.clear {
  zoom: 1;
}

.van-nav-bar__text {
  font-family: 'Consolas', Courier, monospace;
}
.ant-table-thead .ant-table-cell {
  background-color: #4816d1 !important;
  color: white !important;
  line-height: 12px;
  border: 1px solid #4816d1 !important;
}
.ant-tabs-tab.ant-tabs-tab-active {
  background-color: #0CA33E;
  width: 80px;
  position: relative;
  padding-left: 10px;
  font-family: 'Meiryo UI';
  display: flex !important;
  z-index: 2;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: white !important;
  font-family: 'Meiryo UI';
}
